[Unit]
Description=apache terminal
After=network.target

[Service]
ExecStart=/home/*/terminal/apache.sh
Type=simple
Restart=always
RestartSec=5

[Install]
WantedBy=default.target